<div class="page-header">
  <h1>Expense Owed #<%= @expense_owed.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Portion owed</dt>
  <dd><%= @expense_owed.portion_owed %></dd>

  <dt>User</dt>
  <dd><%= @expense_owed.user_id %></dd>

  <dt>Expense</dt>
  <dd><%= @expense_owed.expense_id %></dd>

</dl>
